
@{
    ViewBag.Title = "AddHome4Sale";
}

<h2>Add Home For Sale Form</h2>
<form name="homeInfo" method="post">
    <p>Price: <input type="number" name="price" id="price" /></p>
    <p>Bedrooms: <input type="number" name="bedroom" id="bedroom" /></p>
    <p>Bathrooms: <input type="number" name="bathroom" id="bathroom" /></p>
    <p>Model: <input type="text" name="model" id="model" /></p>
    <p>Description: <input type="text" name="description" id="description" /></p>
    <p>Lot: <input type="number" name="lot" id="lot" /></p>
    <p>Sqr Feet: <input type="number" name="sqrFeet" id="sqrFeet" /></p>
    <p>Year: <input type="number" name="year" id="year" /></p>
    <p><button type="submit">Submit</button></p>
</form>


