
@{
    ViewBag.Title = "Homes For Sale";
    string[] images = { "RTrailor1.jpg", "RTrailor2.jpg", "RTrailor3.jpg", "RTrailor4.jpg", "RTrailor5.jpg",
    "RTrailor6.jpg"};
}
<div style="background-color:lightslategray; padding:1%;border-radius:30px;margin-left:-4%;">
    <h2>Homes For Sale</h2>
    <div style="padding:5px;">
        @foreach (var i in images)
        {
            <img src="~/Content/images/@i" style="width:33%;" />
        }
    </div>
</div>